/*
justfielding.com style sheet
*/


/* ---------------------
Element Selectors
----------------------*/

html {
    font-size: 1em;
    line-height: 1.4;
}

header[role="banner"] {
    background-color: #2F3437;
    height: 10em;
    border-bottom-color: #1D2223;
    border-bottom-style: solid;
    display: block;
}

header[role="banner"] object {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

#about {
    background-color: #FFF;
    height: 10em;
}

#whatido {
    background-color: #9477C9;
    height: 10em;
}

#pastwork {
    background-color: #FFF;
    height: 10em;
}


footer[role="contentinfo"] {
    background-color: #EDEEF0;
    height: 10em;
    border-top-color: #DEE4E8;
    border-top-style: solid;
}




/*----------------------
jflogo.svg
-----------------------*/

.text-just {
    fill: #FFFFFF;
}


/*----------------------
Media Queries
-----------------------*/


@media screen and (min-width: 28.75em){

    header[role="banner"] {
        height: 20em;
    }

    #about {
        height: 20em;
    }

    #whatido {
        height: 20em;
    }

    #pastwork {
        height: 20em;
    }

    footer[role="contentinfo"] {
        height: 20em;
    }


}

@media screen and (min-width: 48.0em) {

    header[role="banner"]{
        height: 30em;
    }

    #about {
        height: 30em;
    }

    #whatido {
        height: 30em;
    }

    #pastwork {
        height: 30em;
    }

    footer[role="contentinfo"] {
        height: 20em;
    }

}
