/*
justfielding.com style sheet
*/


/* ---------------------
Element Selectors
----------------------*/

html {

}

header[role="banner"] {
    background-color: #222222;
    height: 17.5em;
}

header[role="banner"] object {
    width: 100%;
    height: 100%;
}

/*----------------------
jflogo.svg
-----------------------*/

.text-just {
    fill: #FFFFFF;
}


/*----------------------
Media Queries
-----------------------*/


@media screen and (min-width: 28.75em){

    header[role="banner"]{
        height: 27.5em;
    }
}

@media screen and (min-width: 40.5em) {

    header[role="banner"]{
        height: 37.5em;
    }

}
