/*
justfielding.com style sheet
*/


/* ---------------------
Element Selectors (ordered as they appear on the page)
----------------------*/

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
a {
    display: inline-block;
}
*/

header[role="banner"] {
    background-color: #2F3437;
    height: 30em;
    border-bottom: 3px solid #1D2223;
    position: relative;
    text-align: center;
}

header[role="banner"]:after, header[role="banner"]:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header[role="banner"]:after {
	border-color: rgba(47, 52, 55, 0);
	border-top-color: #2F3437;
	border-width: 30px;
	margin-left: -30px;
}
header[role="banner"]:before {
	border-color: rgba(29, 34, 35, 0);
	border-top-color: #1D2223;
	border-width: 34px;
	margin-left: -34px;
}


#jflogo {
    display: block;
    margin: auto;
    height: 60%;
    width: 60%;
    padding-top: 5%;
}

#github, #twitter, #mail {
    height: 12.5%;
    width: auto;
    margin: auto;
    pointer-events: none;
}

#about {
    background-color: #FFF;
    height: 20em;
}

#whatido {
    background-color: #9477C9;
    height: 30em;
}

#pastwork {
    background-color: #FFF;
    height: 20em;
}


footer[role="contentinfo"] {
    background-color: #EDEEF0;
    height: 10em;
    border-top-color: #DEE4E8;
    border-top-style: solid;
}

/*----------------------
SVG adjustments (still unclear of where I want to put these)
-----------------------*/

.text-just {
    fill: #FFFFFF;
}


/*----------------------
Helper classes (hack the planet)
-----------------------*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/*----------------------
Media Queries
-----------------------*/


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */




/*  OLD MEDIA QUERIES

@media screen and (min-width: 28.75em){

    header[role="banner"] {
        height: 20em;
    }

    #about {
        height: 20em;
    }

    #whatido {
        height: 20em;
    }

    #pastwork {
        height: 20em;
    }

    footer[role="contentinfo"] {
        height: 20em;
    }


}

@media screen and (min-width: 48.0em) {

    header[role="banner"]{
        height: 30em;
    }

    #about {
        height: 30em;
    }

    #whatido {
        height: 30em;
    }

    #pastwork {
        height: 30em;
    }

    footer[role="contentinfo"] {
        height: 30em;
    }
}


*/




