// justfielding.com stylesheet

// Mixins
@import "normalize.scss";
@import "mixins.scss";

// Colors
$color-white: #fff;
$color-offwhite: #F8F7F5;
$color-purple: #9477C9;
$color-darkgray: #2F3437;

// Fonts
$font-sans: 'Open Sans', sans-serif;

// Media Query Breakpoints (max widths)
$width-small: 40em;     // 640px
$width-medium: 64em;    // 1024px
$width-large: 90em;     // 1440px

// Element Selectors (ordered as they appear on the page)


html {
    font-size: 1em;
    line-height: 1.4;
    font-family: $font-sans;
}

header[role="banner"] {
    background-color: $color-darkgray;
    height: 30em;
    border-bottom: .188em solid darken($color-darkgray, 7%);
    position: relative;
    text-align: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 25em;
    }
    
    @include responsive(small-screens) {
        height: 15em;
    }
    
}

header[role="banner"]:after, header[role="banner"]:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header[role="banner"]:after {
	border-color: rgba(47, 52, 55, 0);
	border-top-color: $color-darkgray;
	border-width: 30px;
	margin-left: -30px;
}
header[role="banner"]:before {
	border-color: rgba(29, 34, 35, 0);
	border-top-color: darken($color-darkgray, 7%);
	border-width: 34px;
	margin-left: -34px;
}


#jflogo {
    display: block;
    margin: auto;
    height: 60%;
    width: 60%;
    padding-top: 4em;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        padding-top: 2em;
        height: 75%;
        width: 75%;
    }
    
    @include responsive(small-screens) {
        padding-top: 1em;
        height: 70%;
        width: 70%;
    }
}

#github, #twitter, #mail {
    height: 100%;
    width: auto;
    margin: auto;
    pointer-events: none;
}

.socialicons {
    display: inline-block;
    height: 12.5%;
    width: auto;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        height: 15%;
    }
}


#about {
    background-color: $color-white;
    height: 20em;
    text-align: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 16.6em;
    }
    
    @include responsive(small-screens) {
        height: 10em;
    }
}

#about div {
    height: 100%;
    width: 100%;
    display: table;
}

#about p {
    font-size: 20pt;
    vertical-align: middle;
    display: table-cell;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        font-size: 16pt;
    }
    
    @include responsive(small-screens) {
        font-size: 10pt;
    }
}

#whatido {
    background-color: $color-purple;
    height: 30em;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 25em;
    }
    
    @include responsive(small-screens) {
        height: 15em;
    }
}

#pastwork {
    background-color: $color-white;
    height: 20em;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 16.6em;
    }
    
    @include responsive(small-screens) {
        height: 10em;
    }
}

#letsworktogether {
    background-color: $color-offwhite;
    border-top: .188em solid darken($color-offwhite, 7%);
    border-collapse: collapse;
    height: 8em;
    display: table;
    width: 100%;
    text-align: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 6.6em;
    }
    
    @include responsive(small-screens) {
        height: 4em;
    }
}

#letsworktogether div {
    display: table-cell;
    vertical-align: middle;
}

#letsworktogether h3 {
    width: 66%;
    display: inline-block;
    color: $color-darkgray;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        display: none;
    }
}

#letsworktogether button {
    background-color: $color-purple;
    border: none;
    color: $color-white;
    text-shadow: -.063em -.063em 0 darken($color-purple, 50%);
    font-weight: 600;
    letter-spacing: .063em;
    padding: 1em;
    @include rounded(.188em);
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        font-size: 10pt;
    }
    
}

footer[role="contentinfo"] {
    background-color: $color-darkgray;
    height: 15em;
    border-top: .188em solid darken($color-darkgray, 7%);
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 12.5em;
    }
    
    @include responsive(small-screens) {
        height: 7.5em;
    }
}


// SVG adjustments (still unclear of where I want to put these)

.text-just {
    fill: $color-white;
}



