// justfielding.com stylesheet

// Mixins
@import "normalize.scss";
@import "mixins.scss";

// Colors
$color-white: #fff;
$color-offwhite: #F8F7F5;
$color-purple: #9477C9;
$color-darkgray: #2F3437;
$color-lightgray: #ebe7e7;

// Fonts
$font-sans: 'Open Sans', sans-serif;
$font-lobster: 'Lobster', cursive;

// Media Query Breakpoints (max widths)
$width-small: 40em;     // 640px
$width-medium: 64em;    // 1024px
$width-large: 90em;     // 1440px

// Section heights used for different breakpoints
$section-small: 15em;
$section-medium: 25em;
$section-large: 50em;

// Element Selectors (ordered as they appear on the page)


html {
    font-size: 1em;
    line-height: 1.4;
    font-family: $font-sans;
    color: $color-darkgray;
}

header[role="banner"] {
    background-color: $color-darkgray;
    height: $section-large;
    border-bottom: .188em solid darken($color-darkgray, 7%);
    position: relative;
    text-align: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 25em;
    }
    
    @include responsive(small-screens) {
        height: 15em;
    }
    
}

header[role="banner"]:after, header[role="banner"]:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header[role="banner"]:after {
	border-color: rgba(47, 52, 55, 0);
	border-top-color: $color-darkgray;
	border-width: 30px;
	margin-left: -30px;
}
header[role="banner"]:before {
	border-color: rgba(29, 34, 35, 0);
	border-top-color: darken($color-darkgray, 7%);
	border-width: 34px;
	margin-left: -34px;
}


#jflogo {
    display: block;
    margin: auto;
    width: 60%;
    height: 60%;
    padding-top: 4em;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        padding-top: 2em;
        height: 75%;
        width: 75%;
    }
    
    @include responsive(small-screens) {
        padding-top: 1em;
        height: 70%;
        width: 70%;
    }
}

#github, #twitter, #mail {
    height: 100%;
    width: auto;
    margin: auto;
    pointer-events: none;
}

.socialicons {
    display: inline-block;
    max-height: 3.75em;
    width: auto;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        height: 15%;
    }
}


#about {
    background-color: $color-white;
    height: 20em;
    margin: 5% 2%;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 16.6em;
    }
    
    @include responsive(small-screens) {
        height: 10em;
    }
}

#fielding-avatar {
    width: 25%;
    display: inline-block;
    text-align: center;
}

#fielding-definition {
    width: 73%;
    display: inline-block;
}

#def-name {
    display: inline;
    margin: 0;
    color: $color-purple;
}

#def-phonetic {
    margin: 0;
    display: inline;
}

#def-pospeech {
    margin: 0;
    font-style: italic;
}

#def-body {
    margin: .5em 0;
}

#def-synonym-tag {
    margin: 0;
    font-style: italic;
}

#def-synonyms {
    margin: 0;
}

#design-quote {
    background-color: $color-purple;
    height: 8em;
    text-align: center;
    border-top: .188em solid darken($color-purple, 7%);
    border-bottom: .188em solid darken($color-purple, 7%);

    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 6.6em;
    }
    
    @include responsive(small-screens) {
        height: 4em;
    }

}

.quotationmark {
    font-size: 4em;
    color: $color-white;
    padding-bottom: -5%;
}

.quote {
    font-size: 2em;
    font-style: italic;
    color: $color-white;
}

.quote-author {
    color: $color-white;
    display: block;

}

#whatido {
    background-color: $color-white;
    height: 21em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 25em;
    }
    
    @include responsive(small-screens) {
        height: 15em;
    }
}


#whatido > div {
    flex: 1 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    // visibility: hidden;
}

#whatido > div:nth-child(2){
}

.services {
    color: $color-darkgray;
    font-size: 1em; // fallback
    font-size: 2vmin;
    //letter-spacing: .063em;
    font-weight: 400;
    text-transform: uppercase;
    flex-grow: 1;
}

.glyph-container {
    background-image: url(http://justfielding.com/img/circle-bg.svg);
    background-repeat: no-repeat;
    flex-grow: 1;
    height: 128px;
    width: 128px;
}

.wid-glyph {
    height: 90%;
    width: 90%;
    margin: auto;
}


#pastwork {
    background-color: $color-white;
    height: $section-large;
    text-align: center;
    display: flex;
    align-items: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 16.6em;
    }
    
    @include responsive(small-screens) {
        height: 10em;
    }
}

.coming-soon {
    flex-grow: 1;
    font-family: $font-lobster;
    color: $color-lightgray;
}

#letsworktogether {
    background-color: $color-offwhite;
    border-top: .188em solid darken($color-offwhite, 7%);
    border-bottom: .188em solid darken($color-offwhite, 7%);
    border-collapse: collapse;
    height: 8em;
    display: table;
    width: 100%;
    text-align: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 6.6em;
    }
    
    @include responsive(small-screens) {
        height: 4em;
    }
}

#letsworktogether div {
    display: table-cell;
    vertical-align: middle;
}

#letsworktogether h3 {
    width: 66%;
    display: inline-block;
    color: $color-darkgray;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        display: none;
    }
}

#letsworktogether button {
    background-color: $color-purple;
    border: none;
    border-bottom: .188em solid darken($color-purple, 15%);
    color: $color-white;
    // text-shadow: -.063em -.063em 0 darken($color-purple, 50%);
    font-weight: 600;
    letter-spacing: .063em;
    padding: 1em;
    @include rounded(.313em);
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        font-size: 10pt;
    }
    
}

footer[role="contentinfo"] {
    background-color: $color-darkgray;
    border-top: .188em solid darken($color-darkgray, 7%);
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center; 
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
        height: 4.15em;
    }
    
    @include responsive(small-screens) {
        height: 2.5em;
    }
}

#footer-socialicons {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

#footer-copyright {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.copyright {
    color: darken($color-darkgray, 7%);
    font-weight: 700;
    text-align: center;
    
    @include responsive(wide-screens) {
    }
    
    @include responsive(medium-screens) {
    }
    
    @include responsive(small-screens) {
        font-size: 10px;
    }
}

.copyright b {
    @extend .copyright;
    letter-spacing: .063em;
    color: $color-purple;

}

// SVG adjustments (still unclear of where I want to put these)

.text-just {
    fill: $color-white;
}




